html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}
html{
	height: 100%;
	line-height: 1;

}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
	height: 100%;
	width: 100%;
	background-color: #242b2e;
}
*{

	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
.clearfix:before, 
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
	clear: both;
}
.wraper{
	width: 100%;
	height: 100%;
}
.container{
	max-width: 1620px;
	margin: 0 auto;
	width: 100%;
}
/*-----------munu------------*/
.menu{
	width: 25%;
	background-color: #242b2e;
	height: 100%;
	float: left;
}

.logo{
	padding: 32px 66px 32px 66px;;
	background-color: white;
}
.main_nav{
	margin-bottom: 24px;
}
.main_nav_list{
	text-align: right;
	background-color: #31393d;
}
.main_nav_list a{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font: 18px Roboto-Light, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 20px 24px 20px;
}
.main_nav_list li{
	border-bottom: 2px solid #293034;
}
.main_nav_list li:hover{
	background-color: #23aead;
}
.filter_slider{
    vertical-align: top;
	margin-bottom: 21px;
	text-align: right;
	margin-right: 23px;
}

.icoslider{
	position: relative;
	float: right;
	padding: 3px 0 3px 11px;
	vertical-align: top;
}
.filter_slider a{
	text-decoration: none;

}

.filter_list_item{
	text-align: right;
	margin-bottom: 30px;
}
.filter_list_item a{
	text-decoration: none;
	font: 13px Roboto-Light, sans-serif;
	display: block;
	color: #616669;
	padding: 8px 23px 8px 23px;
}
.filter_list_item a:hover{
	color: #ffffff;
}
.active{
	font: 19px Roboto-Thin, sans-serif;
	color: #1bacaa;
}
.linebl{
	width: 100%;
	height: 1px;
	background: #1e282b;
	border: 0;
	margin-bottom: 28px;
}
.subscribe{
	margin: 0 20px 24px 20px;
}
.subscribe_item{

	vertical-align: top;
	text-align: center;
}

.subscribe_item li{
	display: inline-block;
}
.subscribe_item:first-child {
	margin-right: 0;
	padding-right: 0;
}
.subscribe_item a{
	display: inline-block;

}
.owner{
	font: 12px Roboto-Thin, sans-serif;
	color: #6b7072;
	text-align: right;
	padding-right: 20px;
}
/*--------------------------home--------------------------------*/
#home_wrap {
	width: 75%;
	float: left;
	background-color: white;
	min-height: 100%;
}
.blone{
	float: left;
	width: 25%;
	height: 311px;
	background: url(image/home/homeblok.png) center top;
}

.btwo{
	float: left;
	width: 25%;
	height: 311px;
	background: url(image/home/homebloktwo.png) center top;
}
.bthree{
	float: left;
	width: 25%;
	height: 311px;
	background: url(image/home/homeblok.png)  center top;
}

.bfour{
	 float: left;
	 width: 25%;
	 height: 311px;
	 background: url(image/home/homebloktwo.png) center top;
 }
.bfour_info{
	float: left;
	width: 25%;
	height: 311px;
	background: url(image/home/homebloktwo.png) center top;
	position: relative;
}
.bfour_info_btn{
	background: url(image/home/info.png) no-repeat center top;
	border: none;
	width: 92px;
	height: 90px;
	cursor: pointer;
	/* display: block; */
	/* position: absolute; */
	/* left: 93px; */
	float: right;
}
.info_ico{
	position: relative;
	display: block;
	/* float: right; */
	width: 100%;
	height: 100%;

}
.infotitle{
	float: right;
	background-color: black;
	width: 225px;
	height: 130px;
	padding: 20px 0 20px 15px;
	opacity: 0.5;
	display: none;
}
.number_info{
	margin-bottom: 16px;
}
.email_info{
	margin-bottom: 16px;
}
.adress_info{
	margin-bottom: 16px;
}
.icoohone{
	vertical-align: middle;
	padding: 0 11px 0 0;
}
.info_number_text{
	color: white;
	text-decoration: none;
	font: 16px Roboto-Thin, sans-serif;
}
.info_email_text{
	color: white;
	text-decoration: none;
	font: 16px Roboto-Thin, sans-serif;
}
.info_adres_text{
	color: white;
	text-decoration: none;
	font: 16px Roboto-Thin, sans-serif;
}

.bactive{
	float: left;
	width: 25%;
	height: 311px;
	background: url(image/home/homebloactive.png) center top;
	padding-top: 82px;
}

#active_title{
	font: 18px Roboto-Light, sans-serif;
	text-align: center;
	color:white;
	margin-bottom: 10px;
}
#active_text{
	font: 12px/12px Roboto-Light, sans-serif;
	text-align: center;
	color:white;
	margin-bottom: 15px;
}
#active_line{
	width: 106px;
	display: block;
	margin: 0 auto;
	/* margin: 0 0 0 74px; */
	background: white;
	height: 1px;
	border: 0;
	margin-bottom: 19px;

}

.active_pic{
	display: block;
	margin: 0 auto;
}
/*--------------------------about--------------------------------*/
.about_wrap{
	width: 75%;
	min-height: 100%;
	float: left;
	border: 15px solid #b4b7b8;
	padding: 30px 30px 34px 30px;
	background-color: white;
}
.abouttop{
	display: inline-block;
	width: 50%;
	float: left;
	/*border-right: 1px solid #e5e5e5 ;*/
}
.photoabout{
	width: 100%;
	margin-bottom: 26px;
}
.whotitle{
	font: 24px Roboto-Thin, sans-serif;
	color: #000000;
	margin-bottom: 29px;
}
.textaboutone{
	color: #a3a3a3;
	font: 18px/18px Roboto-Light, sans-serif;
	margin-bottom: 47px;
}
.textabouttwo{
	color: #a3a3a3;
	font: 18px/18px Roboto-Light, sans-serif;
	margin-bottom: 32px;
}
.topline{
	margin-bottom: 32px;
}
.aboutbotm{
	width: 50%;
	/*border-right: 1px solid #e5e5e5 ;*/
}
.about_phototop{
	display: inline-block;
}
.about_phototop li{
	display: inline-block;
}
.about_phototop img{
	max-width: 147px;
	max-height: 125px;
}
.Skills_title{
	font: 24px Roboto-Thin, sans-serif;
	color: #000000;
	margin-bottom: 15px;
}

.about_statistik{
	display: inline-block;
	width: 50%;
	float: left;
}
.statiktop{
	margin: 0 0 0 35px;
}
.progress-bar{
	position: relative;
	margin-bottom: 13px;
}
.designtotal{
	float: right;
}
.progress-bar-filldesing{
	display: block;
	height: 22px;
	background-color: #e2e2e2;
	border-radius: 3px;
	width: 89%;
}
.desing{
	width: 98%;
	background-color: #ffffff;
	border-radius: 1px;
	border: 1px solid #ececec;
	margin: 6px 0 6px 0;
}
.progress-bar-filldev{
	display: block;
	height: 22px;
	background-color: #e2e2e2;
	border-radius: 3px;
	width: 97%;
}
.progress-bar-fillplug{
	 display: block;
	 height: 22px;
	 background-color: #e2e2e2;
	 border-radius: 3px;
	 width: 85%;
 }
.progress-bar-fillfront{
	display: block;
	height: 22px;
	background-color: #e2e2e2;
	border-radius: 3px;
	width: 75%;
}
.statikbot{
	padding: 100px 0 0 0;
	border: 1px solid #ececec;
	margin: 0 0 0 35px;
}
.Skills_titlebot{
	font: 24px Roboto-Thin, sans-serif;
	color: #000000;
	margin-bottom: 15px;

}

.testimonialstext{
	color: #a3a3a3;
	font: 18px/18px Roboto-Light, sans-serif;
	margin-bottom: 20px;
	padding: 0 5px 0 9px;
}
.staticico{
	background: url(image/about/statphoto.png) no-repeat;
}




/*--------------------------siglework--------------------------------*/
#single_wrap{
	width: 75%;
	float: left;
	min-height: 100%;
	border: 15px solid #b4b7b8;
	padding: 30px 30px 34px 30px;
	background-color: white;
}
.Skillworks_title{
	font: 24px Roboto-Thin, sans-serif;
	color: #000000;
}
#sigle_wrap_left{
	display: inline-block;
	float: left;
	width: 65%;
}
#sigle_wrap_right{
	display: inline-block;
	float: left;
	width: 35%;
}
.single_rightbot{
	margin: 0 0 0 35px;
}
.single_workphoto li{
	display: inline-block;
}
.single_workphoto img{
	max-width: 227px;
	max-height: 155px;
}
.work_info{
	position: relative;

}
.work_item{
	font: 14px/14px Roboto-Light, sans-serif;
	color: #cecece;
}
.work_item li{
	padding: 0 0 15px 0;
}
.premiumlayersico {
	background: url(image/single_work/premiumlayers.png) no-repeat left;
	height: 33px;
	width: 33px;
	display: inline-block;
	position: relative;
	top: 10px;

}
.Likesico{
	background: url(image/single_work/likers.png) no-repeat left;
	height: 33px;
	width: 33px;
	display: inline-block;
	position: relative;
	top: 10px;
}
.dataico{
	background: url(image/single_work/dataico.png) no-repeat left;
	height: 33px;
	width: 33px;
	display: inline-block;
	position: relative;
	top: 10px;
}
.comentsico{
	background: url(image/single_work/coments.png) no-repeat left;
	height: 33px;
	width: 33px;
	display: inline-block;
	position: relative;
	top: 10px;
}
.desingwork{
	background-color: #ffffff;
	border-radius: 1px;
	border: 1px solid #ececec;
	margin: 15px 0 0 0;;
}

.btnwork_item li{
	display: inline-block;
	padding: 3px 0 24px 0;
}
.btnwork_item a{
	font: 13px/13px Roboto-Light, sans-serif;
	padding: 9px 11px;
	vertical-align: middle;
	background-color: #ffffff;
	border-radius: 15px;
	border: 1px solid;
	color: #b5b5b5;
	text-decoration: none;
}
.singlegallery{
	margin-bottom: 16px;
}
.Project_Features{
	margin: 0 0 0 35px;
}

.Project_Features_item{
	font: 14px/14px Roboto-Light, sans-serif;
	color: #848484;
	list-style-image: url(image/single_work/checkmark.png);
}

.Project_Features_item li{
	padding: 20px 0 20px 0;
}
.comentstitle{
	font: 24px Roboto-Thin, sans-serif;
	color: #000000;
	margin-bottom: 29px;
}

/*--------------------------singlepost--------------------------------*/
#single_post{
	width: 75%;
	float: left;
	min-height: 100%;
	border: 15px solid #b4b7b8;
	padding: 30px 30px 34px 30px;
	background-color: white;

}
#siglepost_wrap_left{
	display: inline-block;
	float: left;
	width: 65%;
}
#siglepost_wrap_right{
	display: inline-block;
	float: left;
	width: 35%;
}
.Archives_item{
	font: 14px/14px Roboto-Light, sans-serif;
	color: #848484;
}
.Archives_item li{
	padding: 20px 0 20px 0;
}

.nameforform{
	margin-bottom: 15px;
}
.emailforform{
	margin-bottom: 15px;
}

.iconame {
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 6px 14px 6px 14px;
}
.icowebsite{
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 6px 14px 6px 14px;
}
.icoemail{
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 6px 14px 6px 14px;

}
.namecomment{
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	padding: 13px 0 16px 20px;
	width: 74%;
}
.emailcomment{
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	padding: 13px 0 16px 20px;
	width: 74%;
}
.websitecomment{
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	padding: 13px 0 16px 20px;
	width: 74%;
}
#messagecomment{
	resize: none;
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	height: 113px;
	width: 100%;
	padding: 13px 0 0 20px;
	margin-bottom: 6px;

}
.submitcommentbtn{
	background-color: #49cbcd;
	border: none;
	color: #ffffff;
	font: 14px Roboto-Light, sans-serif;
	height: 50px;
	width: 100%;
	cursor: pointer;
}
/*--------------------------Contacts--------------------------------*/


#contact_wrap{
	width: 75%;
	float: left;
	min-height: 100%;
	background: white url(image/contact/map.jpg)  100% 100% no-repeat;
	background-size: 100% 100%;

}
.contactbl{
	width: 68%;
	float: left;
	display: inline-block;
	background-color: white;
	margin: 25px 0 0 25px;
	padding: 26px 30px 29px 30px;
}
.contact_title{
	color:  black;
	font: 24px Roboto-Light, sans-serif;
	margin-bottom: 25px;
}
.left_contact_wrap{
	display: inline-block;
	float: left;
	width: 60%;
}


.form_text{
	font: 18px/18px Roboto-Light, sans-serif;
	color: #a3a3a3;
	text-align: left;
}
.nameforform{
	margin-bottom: 15px;
}
.emailforform{
	margin-bottom: 15px;
}

.iconame {
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 6px 14px 6px 14px;
}
.icowebsite{
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 6px 14px 6px 14px;
}
.icoemail{
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 6px 14px 6px 14px;

}
.name{
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	padding: 13px 0 16px 20px;
	width: 74%;
}
.email{
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	padding: 13px 0 16px 20px;
	width: 74%;
}
.website{
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	padding: 13px 0 16px 20px;
	width: 74%;
}
.right_contact_wrap{
	display: inline-block;
	float: left;
	width: 40%;
}
#message{
	resize: none;
	color: #848484;
	font: 14px Roboto-Light, sans-serif;
	height: 113px;
	width: 100%;
	padding: 13px 0 0 20px;
	margin-bottom: 6px;

}
.submitbtn{
	background-color: #49cbcd;
	border: none;
	color: #ffffff;
	font: 14px Roboto-Light, sans-serif;
	height: 50px;
	width: 100%;
	cursor: pointer;
}